.chat-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #F4F7F9;
    border-top: 1px solid rgba(112, 112, 112, 0.21);
}

