
/*
12
14
16
18
21
24
*/

.tf-size-1{
    font-size: 24px;
    line-height: 0.83333333;
}
.tf-size-2{
    font-size: 21px;
    line-height: 0.83333333;
}
.tf-size-3{
    font-size: 18px;
    line-height: 0.83333333;
}
.tf-size-4{
    font-size: 16px;
    line-height: 0.83333333;
}
.tf-size-5{
    font-size: 14px;
    line-height: 0.83333333;
}
.tf-size-6{
    font-size: 12px;
    line-height: 0.83333333;
}

.line-height-reset{
    line-height: 1;
}